body {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 1300px;
}

nav a {
    color: black;
    font-weight: 600;
}

.section-header {
    font-size: 40px;
}

.sub-heading {
    font-size: 24px;
}

.sizing {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    max-width: 1150px;
}

.highlight {
    background-color: #fcf686;
    padding: 1px;
}

.shadow {
    box-shadow: 2px 2px 5px black;
}

.blue-bg {
    background-color: #536db3;
}

.round, .twitter-timeline {
    border-radius: 35px;
}

.btn-yellow {
    background-color: #fcf686;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
}

.btn-yellow:hover {
    background-color:#dcd778;
}

.blue2 {
    background-color: #B4BEDF;
}

.resize {
    transform: scale(.7);
}

.contact {
    border-radius: 10px;
    border: 1px solid black;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991.98px) {
    #headshot {
        display: none;
    }

    .sizing {
        width: 85vw;
    }

    .twitter-timeline {
        margin-right: 3.75vw;
    }

    #btn-size {
        width: 60vw;
    }
}